@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

:root{
    --deep-purple:#7204b1;
    --light-purple:#c483ea;
    --vivid-purple:#cc00cc;
}

*{
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: linear-gradient(to right, var(--deep-purple), var(--light-purple));
    font-family: 'Shadows Into Light', cursive;
}

.file__upload{
    display: flex;
    position: absolute;
    padding:10px;
    top:15px;
}

.file__upload .more__btn{
    position: absolute;
    right:-55px;
    top:10px;
    cursor: pointer;
    display: none;
    color:#fff;
    font-family: 'Antic', sans-serif;
}

.file__upload .more__btn:hover{
    color:#ccc;   
}


.title__container {
    display: flex;
    position: absolute;
    transform: translateY(10%);
    padding:20px 40px;
    margin:0;
    text-align: center;
    border:3px solid #fff;
    border-radius: 4px;
    animation: titleBorder 7s infinite;
}


.title__container .page_title{
    font-family: 'Bungee Inline', cursive;
    font-size: 5.5vw;
}

@-webkit-keyframes title1{
   from {
       color:black;
   }
   to{
    background: linear-gradient(to right, #40ff00, #8ca6ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
}

@-webkit-keyframes title2{
    from {
        color:black;
    }
    to{
     background: linear-gradient(to right, #ff3333, #8ca6ce);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    }
}

@-webkit-keyframes title3{
    from {
        color:black;
    }
    to{
     background: linear-gradient(to right, #00ffff, #8ca6ce);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    }
}

@-webkit-keyframes titleBorder{
    0%{
        border-color: #fff;
    }  
    25%{
       border-color:#40ff00;
    }
    50%{
        border-color:#00ffff;
    }

    75%{
        border-color:#8ca6ce;
    }
    80%{
        border-color:#ff1aff;
    }
}




#page_title1{
    animation: title1 2s  linear forwards;
}

#page_title2{
    animation: title2 3.5s linear forwards;
}

#page_title3{
    animation: title3 5s linear forwards;
}


.title__container.hidden{
  opacity: 0;
}

canvas{
    width:100%;
    height:60%;
    margin-bottom: 50px;
}

input[type="file"]{
    position: absolute;
    left:-99999rem;
}

.custom-file-upload{
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;;
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size:20px;
    color:#fff;
}

.custom-file-upload:hover{
    background-color: #fff;
    color:black;    
}

.music__container{
    display: flex;
    position: absolute;
    bottom:30px;
    display: none;
    -webkit-box-shadow: -1px 32px 88px 13px rgba(143,8,143,1);
    -moz-box-shadow: -1px 32px 88px 13px rgba(143,8,143,1);
    box-shadow: -1px 32px 88px 13px rgba(143,8,143,1);
}

.music__container.show{
    display: flex;
}

.image__container img{
    width:110px;
    height:110px;
    z-index:1;
    position: absolute;
    top:-30px;
    left:-40px;
    animation: rotate 2s infinite linear;
    animation-play-state: paused;

}

.music__container.play img{
    animation-play-state: running;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.music__controller{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:#fff;
    border: none;
    width:300px;
    height:70px;
    text-align: center;
    padding-left:40px;
    border-radius: 5px;
    z-index: 0;
    text-align: center;
}


.music__controller .action-btn{
    cursor: pointer;
    border:none;
    background-color:transparent;
    color:var(--deep-purple);
    font-size:20px;

}


.music__controller .action-btn:hover{
    color:var(--light-purple);
}


.progress__container{
    position: absolute;
    background-color:rgba(250, 250, 250,0.5);
    width:250px;
    height: 70px;
    transform:translate(15%,0%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.music__container.play .progress__container{
    transform:translate(15%,-100%);
    transition: transform 0.5s ease-in-out;
}

.progress__container .title{
    font-size:20px;
}

.progress__container .progress{
    background-color:#fff;
    border-radius: 5px;
    width:90%;
    height:5%;
    margin: 5px 15px;
    cursor: pointer;
}

.progress__container .progress__bar{
    background-color: var(--vivid-purple);
    border-radius: 5px;
    width:0%;
    height:100%;
}

.progress__container .current_time{
    position: absolute;
    left:20px;
    bottom:4px;
    font-family: 'Courier New', Courier, monospace;
}

.progress__container .whole_time{
    position: absolute;
    right:20px;
    bottom:4px;
    font-family: 'Courier New', Courier, monospace;
}


.playlist__container{
    position: fixed;
    bottom:0;
    right:20px;
    flex-direction: column;
    background-color:rgba(255, 255, 255,0.4);
    width: 370px;
    max-height: 35%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow:auto;
    display: none;
    border: 1px solid #fff;
    font-family: 'Antic', sans-serif;
}

.playlist__container.show{
    display: flex;
}

.playlist__container.show.mobile{
    position: fixed;
    border-radius: 5px;
    background-color:rgba(255, 255, 255,0.5);
    width:250px;
    max-height: 120px;
    transform:translate(-50px,200px);
    top:-100px;
    right:-30px;
    display: block;
}

.playlist__container .playlist__title{
    font-size: 20px;
}


.playlist__container .songs{
    padding:10px 20px;
    display: flex;
    flex-direction: column;
}

.playlist__container .song{
    cursor: pointer;
}

.playlist__config .edit__list{
    position: absolute;
    top:10px;
    right:17px;
    cursor: pointer;
    background-color: transparent;
    border:none;
    color:black;

}

.playlist__config{
    padding: 15px;
    border-bottom:2px solid #fff;
    font-family: 'Shadows Into Light', cursive;
}

.playlist__config .edit__list:hover {
    color:var(--vivid-purple);
}

.playlist__config .edit__list.editmode{
    color:var(--vivid-purple);
}

.playlist__detail{
    display: flex;
    padding : 3px 0;
    justify-content: space-between;
}

.playlist__detail .song__idx{
    display: none;
}

.playlist__detail .remove__song{
    cursor: pointer;
    background-color: transparent;
    border:none;
    color:black;
    display: none;

}

.playlist__detail .remove__song.editmode{
    display: block;
}

.playlist__detail .remove__song:hover{
    color:var(--vivid-purple);
}

.playlist__container .song.playing{
    color:#fff;
    text-shadow: 0 0 3px var(--vivid-purple);
}

.playlist__container .song:hover{
    background-color: var(--light-purple);
}


@media (max-width:1100px){
    .more__btn.show{
        display: block;
    }

    .playlist__container.show{
        display: none;
    }
}

@media (max-width:600px){

    .title__container {
        display: flex;
        flex-direction: column;
    }

    .file__upload{
        top:30px;
    }
}

@media (max-width:400px){
    .music__container img{
        width:70px;
        height:70px;
        left:-20px;
    }
}


